* {
    box-shadow: inset 0px 0px 0px 3px #FF0000;
}

.discord-dark-mode,
.discord-dark-mode * {
  box-sizing: border-box;
}
.discord-dark-mode {
  background: #36393f;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}
.nav-wrapper {
  background: #202225;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 4.5rem;
  position: relative;
}
.div-list-item {
  background: #202225;
  padding: 0.75rem 0.75rem 0.75rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.divider {
  flex-shrink: 0;
  width: 0.25rem;
  height: 2.5rem;
  position: relative;
}
.rectangle-64 {
  background: #ffffff;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.discord-icon {
  background: #5865f2;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.discord {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.group-3 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 11.86%;
  top: 11.91%;
  height: 76.22%;
  overflow: visible;
}
.divider2 {
  background: #373a3f;
  border-radius: 0.125rem;
  flex-shrink: 0;
  width: 2rem;
  height: 0.125rem;
  position: relative;
}
.rectangle-66 {
  flex-shrink: 0;
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.svg-circle-icon {
  display: flex;
  flex-direction: row;
  gap: 1.0625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.discord-icon2 {
  border-radius: 3rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.number {
  background: #ed4245;
  border-radius: 1rem;
  border-style: solid;
  border-color: #202225;
  border-width: 0.15625rem;
  padding: 0.125rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2rem;
  position: absolute;
  left: 1rem;
  top: 2rem;
}
._3-k {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.divider3 {
  flex-shrink: 0;
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.number2 {
  background: #ed4245;
  border-radius: 1rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.15625rem;
  padding: 0.125rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2rem;
  position: absolute;
  left: 1rem;
  top: 2rem;
}
._241 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.divider4 {
  background: #202225;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.div-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  width: 15rem;
  position: relative;
}
.search-bar {
  background: #2f3136;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search {
  background: #202225;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.find-or-start-a-conversation {
  color: #96989d;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.rectangle-72 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0.0625rem;
  position: relative;
  overflow: visible;
}
.row {
  background: #2f3136;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.sidebar-item {
  background: #2f3136;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-73 {
  background: #36393f;
  border-radius: 1.5rem;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.rectangle-74 {
  background: #36393f;
  border-radius: 1.5rem;
  flex: 1;
  height: 1rem;
  position: relative;
}
.footer {
  background: #292b2f;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15rem;
  height: 3rem;
  position: relative;
}
.icons {
  background: #757e8a;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.discord2 {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
}
.group-32 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 11.86%;
  top: 11.91%;
  height: 76.22%;
  overflow: visible;
}
.rectangle-76 {
  background: #3ba55d;
  border-radius: 2rem;
  border-style: solid;
  border-color: #292b2f;
  border-width: 0.125rem;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
}
.frame-102 {
  background: #292b2f;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.hazart-marius {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.m-8-gam-3 {
  color: #96989d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.icons2 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.icon2 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.icon3 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.div-addfriend {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.div-title-container {
  background: #36393f;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sidebar-item2 {
  background: #36393f;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon4 {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.arkada-lar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.divider5 {
  background: #42464d;
  flex-shrink: 0;
  width: 0.0625rem;
  height: 1.5rem;
  position: relative;
}
.menu-item {
  background: #36393f;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.online {
  color: #96989d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.all {
  color: #96989d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.pending {
  color: #96989d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.blocked {
  color: #96989d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.add-friend {
  color: #3ba55d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.icons3 {
  background: #36393f;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.message-square-medical {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.icon6 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.icon7 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.divider6 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0.0625rem;
  position: relative;
  overflow: visible;
}
.container3 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
