/* * {
    box-shadow: inset 0px 0px 0px 3px #FF0000;
} */
.discord-dark-mode,
.discord-dark-mode * {
  box-sizing: border-box;
}
.discord-dark-mode {
  background: #36393f;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.nav-wrapper {
  background: #202225;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 4.5rem;
  position: relative;
}
.div-list-item {
  background: #202225;
  padding: 0.75rem 0.75rem 0.75rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}
.divider {
  flex-shrink: 0;
  width: 0.25rem;
  height: 2.5rem;
  position: relative;
}
.rectangle-64 {
  background: #ffffff;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.rectangle-1 {
  border-radius: 0.75rem;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: cover;
}
.divider2 {
  background: #373a3f;
  border-radius: 0.125rem;
  flex-shrink: 0;
  width: 2rem;
  height: 0.125rem;
  position: relative;
}
.divider3 {
  flex-shrink: 0;
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.rectangle-12 {
  border-radius: 1.5rem;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: cover;
}
.divider4 {
  background: #202225;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.div-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  width: 15rem;
  position: relative;
}
.search-bar {
  background: #2f3136;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search {
  background: #202225;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dev-with-vue-js {
  color: #96989d;
  text-align: left;
  font-family: "NotoSans-DisplaySemiBold", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.rectangle-72 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0.0625rem;
  position: relative;
  overflow: visible;
}
.row {
  background: #2f3136;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.sidebar-item {
  background: #2f3136;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.rectangle-3 {
  border-radius: 0.75rem;
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.lorem-ipsum {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-DisplaySemiBold", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.footer {
  background: #292b2f;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15rem;
  height: 3rem;
  position: relative;
}
.icons {
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.rectangle-2 {
  border-radius: 1rem;
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.rectangle-76 {
  background: #3ba55d;
  border-radius: 2rem;
  border-style: solid;
  border-color: #292b2f;
  border-width: 0.125rem;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 1.75rem;
  top: 1.75rem;
}
.frame-102 {
  background: #292b2f;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.hazart-marius {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-DisplaySemiBold", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.m-8-gam-3 {
  color: #96989d;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.icons2 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.icon2 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.icon3 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: visible;
}
.div-addfriend {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.div-title-container {
  background: #36393f;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0rem 0.0625rem 0rem 0rem rgba(35, 36, 40, 1);
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sidebar-item2 {
  background: #36393f;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-32 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.rectangle-4 {
  border-radius: 0.8125rem;
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.lorem-ipsum2 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: relative;
}
.icons3 {
  background: #36393f;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 3.01375rem;
  position: relative;
}
.frame-42 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.frame-52 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.content-ontainer {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
