<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV-Marius HAZART</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="https://kit.fontawesome.com/222cea3eed.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="./assets/js/script.js"></script>
  </head>
  <body>
    <main id="app">
      <div class="servers">
        <div v-on:click="navOne" class="server-logo logo" id="btn_one">
          <img class="img-logo" src="./assets/img/logo-menu.jpg" alt="Discord"/>
        </div>
        <div v-on:click="navTwo" class="server-logo" id="btn_two">
          <span class="message__count">3</span>
          <img class="img-logo" src="./assets/img/logo-portfolio.jpg" alt="server"/>
        </div>

        <!-- <div class="server-logo">
          <span class="message__count">25</span>
          <img class="img-logo" src="./assets/img/image-test.webp" alt="server" />
        </div> -->
      </div>

      <div class="sidebar">
        <div class="sidebar__top">
          <h3 v-if="section_one">Présentation</h3>
          <h3 v-else-if="section_two">Portfolio</h3>
          <!-- <input type="text" placeholder="Find or start a conversation" /> -->
        </div>


        <div v-if="section_one" id="menu_one" class="sidebar__users">
          <!-- <div class="sidebar__usersHeader">
            <div class="sidebar__header">
              <h4>Direct messages</h4>
            </div>
            <i class="fas fa-plus sidebar__addUser"></i>
          </div> -->
          <div>

            <div v-on:click="navHome" class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/menu.jpg" alt="avatar" />
              </div>
              <h4>Accueil</h4>
            </div>

            <div v-on:click="navProfil" class="sidebar__user" id="profile_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/profil.jpg" alt="avatar" />
              </div>
              <h4>Profil</h4>
            </div>

            <div v-on:click="navSkills" class="sidebar__user" id="skills_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/skills.jpg" alt="avatar" />
              </div>
              <h4>Compétences</h4>
            </div>

          </div>
        </div>


        <div v-else-if="section_two" id="menu_two" class="sidebar__users">
          <div>

            <div v-on:click="navDistrict" class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/branly.png" alt="avatar" />
              </div>
              <h4>Branly</h4>
            </div>

            <div v-on:click="navAddressage" class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/la-manu.png" alt="avatar" />
              </div>
              <h4>1re année a LA MANU</h4>
            </div>

            <!-- v-on:click="navShifumi" -->
            <div class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status2"></span>
                <img class="img-logo" src="./assets/img/la-manu-2.png" alt="avatar" />
              </div>
              <h4>2ème année a LA MANU</h4>
            </div>

          </div>
        </div>


        <div class="sidebar__profile">
          <div>
            <span class="status"></span>
            <img class="img-logo" src="./assets/img/image-test.webp" alt="avatar" />
          </div>
          <div class="sidebar__profileInfo">
            <h3>Marius Hazart</h3>
            <p>marius.hazart@gmail.com</p>
          </div>
          <div class="sidebar__profileIcons">
            <!-- <i class="fas fa-microphone"></i>
            <i class="fas fa-headset"></i>
            <i class="fas fa-cog"></i> -->
          </div>
        </div>
      </div>

      <div class="chat">
        <div>
          <div class="chatHeader">
            <div class="chatHeader__left">
              <span class="chatHeader__Dm"> </span>
              <div v-if="section_one">
                <h3 v-if="home">Accueil</h3>
                <h3 v-else-if="profil">Profil</h3>
                <h3 v-else-if="skills">Compétences</h3>
              </div>
              <div v-else-if="section_two">
                <h3 v-if="branly">Branly</h3>
                <h3 v-else-if="laManu1">1re année a LA MANU</h3>
                <h3 v-else-if="laManu2">2ème année a LA MANU</h3>
              </div>

            </div>
            <div class="chatHeader__right">
              <!-- <i class="fas fa-question-circle fa-lg"></i> -->
              <a href="./index.html"><img class="circle" src="./assets/img/france.png" alt="fr language"></a>
              <a href="./index-en.html"><img class="circle" src="./assets/img/uk.png" alt="en language"></a>
            </div>
          </div>
        </div>

        <div v-if="section_one" class="chat__messages" id="section_one">

            <section v-if="home" id="home_content" class="home content">
              <div class="home-profile">
                <img src="./assets/img/pp.jpg" alt="photo de profile" style="object-fit: cover">
                <div class="home-profile-info">
                  <h1>Marius Hazart</h1>
                  <hr class="hr">
                  <h2>2ème année à LA MANU,</h2>
                  <h2>Établissement d'Enseignement Supérieur des Métiers du Numérique</h2>
                </div>
              </div>
            </section>
    
            <section v-else-if="profil" id="profile_content" class="home content">
              <chat-content>
                <content-block0 class="center">
                  <h2>Profil</h2>
                </content-block0>

                <content-block3>
                  <img class="message-img circle2" src="./assets/img/profil-img1.jpg" alt="">
                </content-block3>
                <content-block2 class="block-text">
                  <p>Je suis un développeur principalement orienté back-end passionné d’algorithmie. Mon expertise repose sur la conception, le développement, et la maintenance de l'infrastructure serveur, ainsi que sur la gestion efficace des bases de données. Mon objectif est de fournir des solutions technologiques efficaces qui améliorent les performances et l'évolutivité des applications</p>
                </content-block2>

                <content-block0 class="content-block-50"></content-block0>

                <content-block2 class="content-block-300">
                  <div class="p-profil">
                    <p><strong>Baccalauréat STI2D, option Systèmes d'Information et Numérique (SIN), mention Bien</strong></p>
                    <li>Lycée Edouard Branly, Amiens, Année d'obtention : 2021</li>
                  </div>
                  <p>J'ai obtenu mon Baccalauréat STI2D avec mention Bien au Lycée Edouard Branly. Initialement inscrit en filière générale avec une option en Numérique et Sciences Informatiques (NSI), j'ai rapidement découvert ma véritable passion pour les métiers du numérique. C'est pourquoi j'ai choisi de me réorienter vers la filière STI2D, spécialisée en Systèmes d'Information et Numérique (SIN). Cette décision a renforcé mon désir de devenir un développeur back-end compétent en mettant l'accent sur l'application concrète des concepts informatiques.</p>
                </content-block2>
                <content-block3 class="content-block-300">
                  <img class="message-img circle2" src="./assets/img/branly.png" alt="">
                </content-block3>

                <content-block0 class="content-block-30"></content-block0>

                <content-block2 class="content-block-300">
                  <div class="p-profil">
                    <p><strong>Deuxième année de Master en Métiers du Numérique</strong></p>
                    <li>La Manu, Amiens, 70 rue des jacobins</li>
                  </div>
                  <p>Je suis actuellement en deuxième annéee de formation à La Manu, où je poursuis un Master en Métiers du Numérique. Au cours de cette formation, j'ai acquis des compétences essentielles en développement, notamment en JavaScript (JS), Vue.js, PHP, Python, Java, ainsi que Symfony pour le développement web. J'ai également développé des compétences en gestion de bases de données MySQL, en PAO (Publication Assistée par Ordinateur), en UX/UI (Expérience Utilisateur/Interface Utilisateur), et en langages web tels qu'HTML et CSS.</p>
                </content-block2>
                <content-block3 class="content-block-300">
                  <img class="message-img circle2" src="./assets/img/la-manu-2.png" alt="">
                </content-block3>

                <content-block0 class="content-block-30"></content-block0>
                
              </chat-content>
              
            </section>

            <section v-else-if="skills" id="skills_content" class="skills content">
              <div class="skills-h2">
                <div class="skills-title-div"><h2 class="skills-title">Compétences</h2></div>
                <div class="skills-desc"><p class="skills-desc-p">Les niveaux représentés sont affiliés a mon niveau de compréhension et développement dans chaques domaines plutôt que mon niveau de compétences</p></div>
              </div>
              <article class="skills-article">
                <div v-for="(object, category) in skillsList" class="skill-div" v-bind:class="category">
                  <h3 class="skills-category"> {{category}} </h3>
                  <div v-for="item in object" class="skills-items">
                    <object-category-skills v-bind:name="item.name" v-bind:level="item.level" v-bind:progresscolor="progressColor"></object-category-skills>
                  </div>
                </div>
              </article>
            </section>

        </div>

        <div v-else-if="section_two" class="chat__messages" id="section_two">
          <section v-if="branly" id="district_content" class="district content">
            <chat-content>
              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/addressage-python" class="width-100" target="_blank">
                  <div class="portfolio-item addressage-python">
                    <div class="pi-info">
                      <h3 class="pi-title">Addressage</h3>
                      <p class="pi-desc">J'ai développé un programme en Python pour la gestion d'adresses IP, permettant de convertir une adresse en binaire, identifier sa classe, calculer le masque de sous-réseau, et afficher des informations essentielles. Ce projet a démontré ma maîtrise des adresses IP et de la programmation en Python.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>


            </chat-content>
          </section>

          <section v-else-if="laManu1" id="addressage_content" class="addressage content">
            <chat-content>
              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/MRCThomas/Projet-Shifumi" class="width-100" target="_blank">
                  <div class="portfolio-item shifumi-js">
                    <div class="pi-info">
                      <h3 class="pi-title">Pierre Papier Ciseaux</h3>
                      <p class="pi-desc">J'ai créé un jeu fonctionnel du Pierre-Papier-Ciseaux en utilisant JavaScript, avec la particularité de sauvegarder les scores même en cas de rechargement de la page ou de sortie du jeu. Ce projet m'a permis de développer ma compréhension de JavaScript, d'explorer les fonctionnalités de stockage local (localStorage) et de maîtriser la gestion des événements pour une expérience de jeu fluide et interactive.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>


              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/district-noir-python" class="width-100" target="_blank">
                  <div class="portfolio-item disctrict-noir-python">
                    <div class="pi-info">
                      <h3 class="pi-title">District noir</h3>
                      <p class="pi-desc">J'ai collaboré avec mon équipe pour développer le jeu du District Noir en Python, en utilisant la console pour interagir directement avec le code. Ce projet a été axé sur le renforcement de notre logique algorithmique, et il nous a permis de nous entraîner à travailler en groupe sur un projet orienté vers l'algorithmie en utilisant le langage Python.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>

              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/Popchill" class="width-100" target="_blank">
                  <div class="portfolio-item popchill">
                    <div class="pi-info">
                      <h3 class="pi-title">PoPchill</h3>
                      <p class="pi-desc">J'ai créé un site web interactif, PopChill, qui utilise JavaScript pour interroger une API et afficher des informations détaillées sur les films, y compris les affiches, les descriptions, et un système de favoris. Ce projet a renforcé mes compétences en développement web et en manipulation d'API pour offrir une expérience cinématographique personnalisée.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>

              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/La-Cavernes-Aux-Infos" class="width-100" target="_blank">
                  <div class="portfolio-item lcai">
                    <div class="pi-info">
                      <h3 class="pi-title">La caverne aux infos</h3>
                      <p class="pi-desc">J'ai conçu et développé le site web "La Caverne aux Infos" qui présente des articles de journaux de manière dynamique en utilisant PHP et MySQL. Ce projet a impliqué l'envoi de requêtes SQL à une API pour récupérer et afficher les articles, tout en utilisant un système de cookies pour personnaliser les préférences de l'utilisateur. Nous avons également mis en place un système de catégories pour organiser les sujets des articles, offrant ainsi une expérience d'actualités plus ciblée et personnalisée.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>
              
            </chat-content>
          </section>

          <section v-else-if="laManu2" id="shifumi_content" class="shifumi content">
            <chat-content>
              
            </chat-content>
          </section>
          
          
          
        </div>


      </div>
    </main>
  </body>
</html>

          <!-- <div class="message">
              <img class="img-logo" src="./assets/img/image-test.webp" alt="avatar">
              <div class="message__info">
                  <h4>ManInBlack <span class="message__timestamp">04/28/2022</span></h4>
                  <p>Hello</p>
              </div>
          </div> -->

<!-- <div v-if="">
  <div v-if=""></div>
  <div v-else-if=""></div>
  <div v-else></div>
</div>
<div v-else>
  <div v-if=""></div>
  <div v-else></div>
</div> -->