<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV-Marius HAZART</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="https://kit.fontawesome.com/222cea3eed.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="./assets/js/script.js"></script>
  </head>
  <body>
    <main id="app">
      <div class="servers">
        <div v-on:click="navOne" class="server-logo logo" id="btn_one">
          <img class="img-logo" src="./assets/img/logo-menu.jpg" alt="Discord"/>
        </div>
        <div v-on:click="navTwo" class="server-logo" id="btn_two">
          <span class="message__count">3</span>
          <img class="img-logo" src="./assets/img/logo-portfolio.jpg" alt="server"/>
        </div>

        <!-- <div class="server-logo">
          <span class="message__count">25</span>
          <img class="img-logo" src="./assets/img/image-test.webp" alt="server" />
        </div> -->
      </div>

      <div class="sidebar">
        <div class="sidebar__top">
          <h3 v-if="section_one">Presentation</h3>
          <h3 v-else-if="section_two">Portfolio</h3>
          <!-- <input type="text" placeholder="Find or start a conversation" /> -->
        </div>


        <div v-if="section_one" id="menu_one" class="sidebar__users">
          <!-- <div class="sidebar__usersHeader">
            <div class="sidebar__header">
              <h4>Direct messages</h4>
            </div>
            <i class="fas fa-plus sidebar__addUser"></i>
          </div> -->
          <div>

            <div v-on:click="navHome" class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/menu.jpg" alt="avatar" />
              </div>
              <h4>Home</h4>
            </div>

            <div v-on:click="navProfil" class="sidebar__user" id="profile_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/profil.jpg" alt="avatar" />
              </div>
              <h4>Profile</h4>
            </div>

            <div v-on:click="navSkills" class="sidebar__user" id="skills_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/skills.jpg" alt="avatar" />
              </div>
              <h4>Skills</h4>
            </div>

          </div>
        </div>


        <div v-else-if="section_two" id="menu_two" class="sidebar__users">
          <div>

            <div v-on:click="navDistrict" class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/branly.png" alt="avatar" />
              </div>
              <h4>Branly</h4>
            </div>

            <div v-on:click="navAddressage" class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status"></span>
                <img class="img-logo" src="./assets/img/la-manu.png" alt="avatar" />
              </div>
              <h4>1st year at LA MANU</h4>
            </div>

            <!-- v-on:click="navShifumi" -->
            <div class="sidebar__user" id="home_icon">
              <div class="sidebar__user_div">
                <span class="status2"></span>
                <img class="img-logo" src="./assets/img/la-manu-2.png" alt="avatar" />
              </div>
              <h4>2nd year at LA MANU</h4>
            </div>

          </div>
        </div>


        <div class="sidebar__profile">
          <div>
            <span class="status"></span>
            <img class="img-logo" src="./assets/img/image-test.webp" alt="avatar" />
          </div>
          <div class="sidebar__profileInfo">
            <h3>Marius Hazart</h3>
            <p>marius.hazart@gmail.com</p>
          </div>
          <div class="sidebar__profileIcons">
            <!-- <i class="fas fa-microphone"></i>
            <i class="fas fa-headset"></i>
            <i class="fas fa-cog"></i> -->
          </div>
        </div>
      </div>

      <div class="chat">
        <div>
          <div class="chatHeader">
            <div class="chatHeader__left">
              <span class="chatHeader__Dm"> </span>
              <div v-if="section_one">
                <h3 v-if="home">Home</h3>
                <h3 v-else-if="profil">Profile</h3>
                <h3 v-else-if="skills">Skills</h3>
              </div>
              <div v-else-if="section_two">
                <h3 v-if="branly">Branly</h3>
                <h3 v-else-if="laManu1">1st year at LA MANU</h3>
                <h3 v-else-if="laManu2">2nd year at LA MANU</h3>
              </div>

            </div>
            <div class="chatHeader__right">
              <!-- <i class="fas fa-question-circle fa-lg"></i> -->
              <a href="./index.html"><img class="circle" src="./assets/img/france.png" alt="fr language"></a>
              <a href="./index-en.html"><img class="circle" src="./assets/img/uk.png" alt="en language"></a>
            </div>
          </div>
        </div>

        <div v-if="section_one" class="chat__messages" id="section_one">

            <section v-if="home" id="home_content" class="home content">
              <div class="home-profile">
                <img src="./assets/img/pp.jpg" alt="photo de profile" style="object-fit: cover">
                <div class="home-profile-info">
                  <h1>Marius Hazart</h1>
                  <hr class="hr">
                  <h2>2nd year at LA MANU</h2>
                </div>
              </div>
            </section>
    
            <section v-else-if="profil" id="profile_content" class="home content">
              <chat-content>
                <content-block0 class="center">
                  <h2>Profile</h2>
                </content-block0>

                <content-block3>
                  <img class="message-img circle2" src="./assets/img/profil-img1.jpg" alt="">
                </content-block3>
                <content-block2 class="block-text">
                  <p>I am a mainly back-end oriented developer passionate about algorithms. My expertise is based on the design, development, and maintenance of server infrastructure, as well as the effective management of databases. My goal is to provide effective technology solutions that improve application performance and scalability</p>
                </content-block2>

                <content-block0 class="content-block-50"></content-block0>

                <content-block2 class="content-block-300">
                  <div class="p-profil">
                    <p><strong>Baccalaureate STI2D, Information Systems and Digital option (SIN), honors</strong></p>
                    <li>Lycée Edouard Branly, Amiens, Year of graduation: 2021</li>
                  </div>
                  <p>I obtained my STI2D Baccalaureate with honors at the Lycée Edouard Branly. Initially enrolled in a general course with an option in Digital and Computer Sciences (NSI), I quickly discovered my true passion for digital professions. This is why I chose to reorient myself towards the STI2D sector, specialized in Information and Digital Systems (SIN). This decision solidified my desire to become a competent back-end developer with a focus on the real-world application of IT concepts.</p>
                </content-block2>
                <content-block3 class="content-block-300">
                  <img class="message-img circle2" src="./assets/img/branly.png" alt="">
                </content-block3>

                <content-block0 class="content-block-30"></content-block0>

                <content-block2 class="content-block-300">
                  <div class="p-profil">
                    <p><strong>Second year of Master in Digital Professions</strong></p>
                    <li>La Manu, Amiens, 70 rue des Jacobins</li>
                  </div>
                  <p>I am currently in my second year of training at La Manu, where I am pursuing a Masters in Digital Professions. During this training, I acquired essential development skills, notably in JavaScript (JS), Vue.js, PHP, Python, Java, as well as Symfony for web development. I also developed skills in MySQL database management, DTP (Desktop Publishing), UX/UI (User Experience/User Interface), and web languages ​​such as HTML and CSS.</p>
                </content-block2>
                <content-block3 class="content-block-300">
                  <img class="message-img circle2" src="./assets/img/la-manu-2.png" alt="">
                </content-block3>

                <content-block0 class="content-block-30"></content-block0>
                
              </chat-content>
              
            </section>

            <section v-else-if="skills" id="skills_content" class="skills content">
              <div class="skills-h2">
                <div class="skills-title-div"><h2 class="skills-title">Skills</h2></div>
                <div class="skills-desc"><p class="skills-desc-p">The levels represented are affiliated with my level of understanding and development in each area rather than my level of skills</p></div>
              </div>
              <article class="skills-article">
                <div v-for="(object, category) in skillsList" class="skill-div" v-bind:class="category">
                  <h3 class="skills-category"> {{category}} </h3>
                  <div v-for="item in object" class="skills-items">
                    <object-category-skills v-bind:name="item.name" v-bind:level="item.level" v-bind:progresscolor="progressColor"></object-category-skills>
                  </div>
                </div>
              </article>
            </section>

        </div>

        <div v-else-if="section_two" class="chat__messages" id="section_two">
          <section v-if="branly" id="district_content" class="district content">
            <chat-content>
              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/addressage-python" class="width-100" target="_blank">
                  <div class="portfolio-item addressage-python">
                    <div class="pi-info">
                      <h3 class="pi-title">IP addressing</h3>
                      <p class="pi-desc">I developed a program in Python for IP address management, allowing to convert an address to binary, identify its class, calculate the subnet mask, and display essential information. This project demonstrated my mastery of IP addresses and programming in Python.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>


            </chat-content>
          </section>

          <section v-else-if="laManu1" id="addressage_content" class="addressage content">
            <chat-content>
              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/MRCThomas/Projet-Shifumi" class="width-100" target="_blank">
                  <div class="portfolio-item shifumi-js">
                    <div class="pi-info">
                      <h3 class="pi-title">Rock Paper Scissors</h3>
                      <p class="pi-desc">I created a functional game of Rock-Paper-Scissors using JavaScript, with the particularity of saving the scores even if the page is reloaded or the game is exited. This project allowed me to develop my understanding of JavaScript , explore local storage features and master event management for a fluid and interactive gaming experience.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>


              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/district-noir-python" class="width-100" target="_blank">
                  <div class="portfolio-item disctrict-noir-python">
                    <div class="pi-info">
                      <h3 class="pi-title">District noir</h3>
                      <p class="pi-desc">I collaborated with my team to develop the Black District game in Python, using the console to interact directly with the code. This project focused on strengthening our algorithmic logic, and it allowed us to practice working as a group on an algorithm-oriented project using the Python language.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>

              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/Popchill" class="width-100" target="_blank">
                  <div class="portfolio-item popchill">
                    <div class="pi-info">
                      <h3 class="pi-title">PoPchill</h3>
                      <p class="pi-desc">I created an interactive website, PopChill, which uses JavaScript to query an API and display detailed information about films, including posters, descriptions, and a favorites system. This project strengthened my skills in web development and API manipulation to deliver a personalized cinematic experience.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>

              <content-block1 class="content-block-portfolio">
                <a href="https://github.com/M8Gam3/La-Cavernes-Aux-Infos" class="width-100" target="_blank">
                  <div class="portfolio-item lcai">
                    <div class="pi-info">
                      <h3 class="pi-title">La caverne aux infos (The news cave)</h3>
                      <p class="pi-desc">I designed and developed the website "La Caverne aux Infos" which presents newspaper articles dynamically using PHP and MySQL. This project involved sending SQL queries to an API to retrieve and display articles, while using a cookie system to personalize user preferences. We've also implemented a category system to organize article topics, providing a more targeted and personalized news experience.</p> 
                    </div>
                  </div>
                </a>
              </content-block1>
              
            </chat-content>
          </section>

          <section v-else-if="laManu2" id="shifumi_content" class="shifumi content">
            <chat-content>
              
            </chat-content>
          </section>
          
          
          
        </div>


      </div>
    </main>
  </body>
</html>

          <!-- <div class="message">
              <img class="img-logo" src="./assets/img/image-test.webp" alt="avatar">
              <div class="message__info">
                  <h4>ManInBlack <span class="message__timestamp">04/28/2022</span></h4>
                  <p>Hello</p>
              </div>
          </div> -->

<!-- <div v-if="">
  <div v-if=""></div>
  <div v-else-if=""></div>
  <div v-else></div>
</div>
<div v-else>
  <div v-if=""></div>
  <div v-else></div>
</div> -->