.icons-card,
.icons-card * {
  box-sizing: border-box;
}
.icons-card {
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 18.75rem;
  max-width: 28.125rem;
  position: relative;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icons-card-header {
  background: #202225;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icons-card-header-content {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icons-card-header-content-container {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icons-card-header-frame {
  flex-shrink: 0;
  width: 3.4375rem;
  height: 3.4375rem;
  position: static;
}
.icons-card-header-frame-img {
  border-radius: 1.0625rem;
  width: 3.4375rem;
  height: 3.4375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
}
.card-icons-header-text {
  color: #ffffff;
  text-align: left;
  font-family: "Noto Sans Bold", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.icons-card-content {
  background: #2f3136;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icons-card-content-container {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icons-card-item {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 2.8125rem; */
  height: 3.5rem;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  padding: 0.25rem;
}
.icons-card-item-img {
  flex-shrink: 0;
  width:100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}


/* Media query for mobile */
@media (max-width: 1000px) {
  .icons-card {
    width: 100%;
    min-width: none;
  }
}