.profil-card,
.profil-card * {
  box-sizing: border-box;
}
.profil-card {
  background: #202225;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15.1875rem;
  position: relative;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group-5 {
  flex-shrink: 0;
  width: 15.1875rem;
  height: 7.6875rem;
  position: static;
}
.banner {
  background: var(--gray-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15.1875rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.rectangle-19 {
  background: linear-gradient(to left, #000000, #000000);
  align-self: stretch;
  flex-shrink: 0;
  height: 5.625rem;
  position: relative;
  object-fit: cover;
}
.user-avatar {
  width: 4.59rem;
  height: 4.1875rem;
  position: absolute;
  left: 1.0125rem;
  top: 3.5rem;
}
.ellipse-2 {
  background: var(--gray-dark-mode-tooltipsand-userprofile, #18191c);
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: -1.45%;
  top: 0%;
  height: 101.45%;
}
.ellipse-1 {
  border-radius: 50%;
  position: absolute;
  right: 5.71%;
  left: 5.71%;
  width: 88.57%;
  bottom: 5.8%;
  top: 5.8%;
  height: 88.41%;
  object-fit: cover;
}
.status {
  height: auto;
  position: absolute;
  right: 5.71%;
  left: 65.71%;
  width: 28.57%;
  bottom: 5.8%;
  top: 65.22%;
  height: 28.99%;
  overflow: visible;
}
.badges {
  display: flex;
  flex-direction: row;
  gap: 0.3125rem;
  align-items: center;
  justify-content: flex-end;
  width: 5.339375rem;
  position: absolute;
  left: 8.8425rem;
  top: 6.4375rem;
}
.user-badges {
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
  overflow: visible;
}
.user-badges2 {
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.5625rem;
  position: relative;
  overflow: visible;
}
.user-badges3 {
  flex-shrink: 0;
  width: 0.681875rem;
  height: 0.75rem;
  position: relative;
  overflow: visible;
}
.user-badges4 {
  flex-shrink: 0;
  width: 1.071875rem;
  height: 0.75rem;
  position: relative;
  overflow: visible;
}
.user-badges5 {
  flex-shrink: 0;
  width: 0.440625rem;
  height: 0.75rem;
  position: relative;
  overflow: visible;
}
.frame-24 {
  padding: 0rem 0.9375rem 0.9375rem 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.marius-hazart {
  color: var(--gray-white, #ffffff);
  text-align: left;
  font-family: "Noto Sans bold", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.m-8-gam-3 {
  color: var(--gray-dark-mode-icons, #b9bbbe);
  text-align: left;
  font-family: "Noto Sans bold", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-17 {
  background: #36393f;
  align-self: stretch;
  flex-shrink: 0;
  height: 0.0625rem;
  position: relative;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-me {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-me2 {
  color: var(--gray-dark-mode-icons, #b9bbbe);
  text-align: left;
  font-family: "Noto Sans bold", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bio {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about {
  text-align: left;
  font-family: "Noto Sans Medium", sans-serif;
  font-size: 0.78125rem;
  font-weight: 500;
  position: relative;
}
.about-span {
  color: var(--gray-dark-mode-text, #dcddde);
  font-family: "Noto Sans Medium", sans-serif;
  font-size: 0.78125rem;
  font-weight: 500;
}
.about-span2 {
  color: var(--cta-colors-link, #00aff4);
  font-family: "Noto Sans Medium", sans-serif;
  font-size: 0.78125rem;
  font-weight: 500;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.roles {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.roles2 {
  color: var(--gray-dark-mode-icons, #b9bbbe);
  text-align: left;
  font-family: "Noto Sans bold", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.roles3 {
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-14 {
  background: var(--gray-dark-mode-sidebar-profile-info, #292b2f);
  border-radius: 0.125rem;
  padding: 0.1875rem 0.34375rem 0.1875rem 0.34375rem;
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-4 {
  background: #2300fd;
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
}
.python {
  color: var(--gray-white, #ffffff);
  text-align: left;
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-16 {
  background: var(--gray-dark-mode-sidebar-profile-info, #292b2f);
  border-radius: 0.125rem;
  padding: 0.1875rem 0.34375rem 0.1875rem 0.34375rem;
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-42 {
  background: #ffa800;
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
}
.data {
  color: var(--gray-white, #ffffff);
  text-align: left;
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-17 {
  background: var(--gray-dark-mode-sidebar-profile-info, #292b2f);
  border-radius: 0.125rem;
  padding: 0.1875rem 0.34375rem 0.1875rem 0.34375rem;
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-43 {
  background: #fff500;
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
}
.java-script {
  color: var(--gray-white, #ffffff);
  text-align: left;
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-15 {
  background: var(--gray-dark-mode-sidebar-profile-info, #292b2f);
  border-radius: 0.125rem;
  padding: 0.1875rem 0.34375rem 0.1875rem 0.34375rem;
  display: flex;
  flex-direction: row;
  gap: 0.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-44 {
  background: var(--gray-dark-mode-icons, #b9bbbe);
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
}
.lorem-ipsum {
  color: var(--gray-white, #ffffff);
  text-align: left;
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-23 {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.note {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.note2 {
  color: var(--gray-dark-mode-icons, #b9bbbe);
  text-align: left;
  font-family: "Noto Sans bold", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.note3 {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.note4 {
  background: #292b2f;
  border-radius: 0.15625rem;
  padding: 0.3125rem 0.1875rem 0.3125rem 0.28125rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.lorem-ipsum-dolor-sit-amet-consectetur-sed-posuere-libero-neque-bibendum-pulvinar-augue-imperdiet-volutpat-ornare-egestas-enim-quisque-orci-sed-molestie-proin-aliquam-netus-scelerisque-laoreet-enim-a-mattis-congue-eu-ornare-porta-eu-interdum {
  color: var(--gray-dark-mode-icons, #b9bbbe);
  text-align: left;
  font-family: "Noto Sans Medium", sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
