* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    font-family: sans-serif;
    overflow: hidden;
}

.img-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
}

.servers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272a;
    overflow-y: scroll;
    height: 100vh;
    width: 70px;
}

/* .logo > img {
    height: 45px;
    width: 50px;
    border-radius: 30%;
    cursor: pointer;
    border: none;
} */

/* .logo::before {
    content: "";
    height: 2px;
    width: 35px;
    position: absolute;
    top: 9%;
    left: 25%;
    background-color: #353a3f;
} */

/* .logo::after {
    content: "";
    height: 35px;
    width: 3px;
    position: absolute;
    top: 2.1%;
    left: 0%;
    background-color: #fff;
    border-radius: 2px;
} */

.server-logo {
    position: relative;
}

.server-logo {
    transition: 0.3s ease-in-out;
}

.server-logo > img:hover {
    cursor: pointer;
    border-radius: 30%;
    transition: 0.3s ease-in-out;
}

.logo::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    right: 110%;
    background-color: #fff;
    border-radius: 50%;
}

.message__count {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    background-color: #fc3c3c;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: 3px solid #23272a;
    right: 10%;
    top: 70%;
}

::-webkit-scrollbar {
    width: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 250px;
    height: 100vh;
    background-color: #2f3135;
    color: gray;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2f3135;
    color: #fff;
    border-bottom: 2px solid #26282c;
    height: 20px;
}

.sidebar__top > input {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1d1d1d;
    border-radius: 3px;
    padding: 5px;
    width: 90%;
}

.sidebar__icon {
    padding: 10px;
}

.sidebar__icon:hover {
    color: #fff;
    background-color: #40464b;
    cursor: pointer;
}

.sidebar__icon > i {
    margin-left: 20px;
}

.sidebar__icon > span {
    margin-left: 10px;
    font-weight: 600;
}

.sidebar__users {
    flex: 1;
    overflow: scroll;
}

.sidebar__user_div {
    padding-left: 10px;
}

.sidebar__usersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__addUser {
    cursor: pointer;
}

.sidebar__addUser:hover {
    color: #fff;
}

.sidebar__user {
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    cursor: pointer;
}

.sidebar__user:hover {
    color: #fff;
    background-color: #40464b;
}

.sidebar__user > div {
    position: relative;
}

.sidebar__user > div > img {
    height: 35px;
    width: 35px;
    margin: 0;
}

.sidebar__user > h4 {
    margin-left: 15px;
}

.status {
    height: 10px;
    width: 10px;
    background-color: #4fb185;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 65%;
    outline: 3px solid #2f3135;
}

.status2 {
    height: 10px;
    width: 10px;
    background-color: #dc2b2b;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 65%;
    outline: 3px solid #2f3135;
}

.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292a2d;
    padding-left: 10px;
}

.sidebar__profile > div {
    position: relative;
}

.sidebar__profile > div > img {
    height: 30px;
    width: 30px;
    margin: 0;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3 {
    color: #fff;
    font-size: 15px;
}

.sidebar__profileInfo > p {
    color: #fff;
    font-size: 10px;
}

.sidebar__profileIcons > i {
    padding: 10px;
}

.chat {
    display: flex;
    flex-direction: column;
    background-color: #353a3f;
    height: 100vh;
    flex: 1;
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    height: 50px;
    border-bottom: 2px solid #26282c;
}

.chatHeader__left {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.chatHeader__Dm {
    color: grey;
    font-size: 20px;
    padding: 10px;
}

.chatHeader__right {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-right: 10px;
}

.search {
    display: flex;
    align-items: center;
    color: grey;
    background-color: #1d1d1d;
    border-radius: 3px;
    padding: 5px;
}

.search > input {
    background-color: transparent;
    outline-width: 0;
    color: #fff;
    border: none;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
    padding: 15px;
}

.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.message__info {
    margin-left: 20px;
}

.message__timestamp {
    color: grey;
    margin-left: 20px;
    font-size: x-small;
}

.message__info > p {
    width: 300px;
    word-wrap: break-word;
}

.chat__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    background-color: #474b53;
    color: lightgray;
}

.chat__input > form {
    flex: 1;
}

.chat__input > form > input {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline-width: 0;
    color: #fff;
    width: 100%;
}

.chat__inputButton {
    display: none;
}

.chat__inputIcons > i {
    margin-left: 10px;
}

@media (max-width: 840px) {
    .servers {
        display: none;
    }

    .sidebar {
        width: 70px;
        align-items: center;
    }

    .sidebar__icon > span {
        display: none;
    }

    .sidebar__icon > i {
        margin: 0;
    }

    .sidebar__usersHeader {
        justify-content: center;
    }

    .sidebar__header {
        display: none;
    }

    .sidebar__user > h4 {
        display: none;
    }

    .sidebar__profile {
        flex-direction: column;
        padding: 0;
    }

    .sidebar__profileInfo {
        display: none;
    }

    .sidebar__profileIcons {
        display: flex;
    }

    .sidebar__profileIcons > i {
        padding: 5px;
    }

    .chatHeader {
        justify-content: center;
    }

    .chatHeader__left {
        display: none;
    }
}







.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DBDED6;
}

.home .home-profile {
    text-align: center;
    padding: 1rem 0 5rem 0;
}

.home .home-profile img {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0px 0px 10px 5px #26282C;
}

.home .home-profile .home-profile-info {
    text-align: center;
}

.home .home-profile .home-profile-info h1 {
    font-size: 35px;
}

.home .home-profile .home-profile-info h2 {
    font-size: 30px;
}

.home .home-profile .home-profile-info hr.hr {
    height: 2.5px;
    background-color: #202225;
    border: none;
    border-radius: 20px;
    margin: 10px;
}



/* Skills */

progress {
    background-color: rgba(0, 0, 0, 0);
}

progress[value]::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 10px;
}
progress[value]::-webkit-progress-value {
    border-radius: 10px;
}

.progress-red::-webkit-progress-value { 
    background: #DE0000; 
}
.progress-orange::-webkit-progress-value { 
    background: #F46700; 
}
.progress-yellow::-webkit-progress-value { 
    background: #C6D611; 
}
.progress-green::-webkit-progress-value { 
    background: #00CB08; 
}
.progress-succes::-webkit-progress-value { 
    background: #04980A; 
}

.skills {
    display: flex;
    align-items: center;
    height: 75%;
    color: #DBDED6;
    justify-content: space-around;;
    flex-direction: column;
}

.skills-items {
    padding-bottom: 8px;
}

.skills-category {
    padding-bottom: 10px;
}

.skills-h2 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-article {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.skills-title {
    padding-bottom: 10px;
}

.skills-button {
    margin-right: 4vw;
    background-color: #2F3136;
    border: none;
    color: white;
    border-radius: 10%;
    height: 50%;
    padding: 3px 32px;
    display: inline-block;
    font-size: 16px;
}

.skills-title-div {
    display: flex;
    justify-content: center;
}

.skills-desc {
    display: flex;
    justify-content: center;
    width: 100%;
}

.skills-desc-p {
    width: 60vw;
    text-align: center;
}


/* /################## */

/* .section-two {
    margin: 15px;
} */



/* ############################################## */

.chat-content { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    color: #fff;
}

.content-block0 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.content-block1 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 200px;
}

.content-block2 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 200px;
}

.content-block-300 {
    height: 300px;
}

.content-block-portfolio {
    height: 62vh;
}

.content-block-50 {
    height: 50px;
}

.content-block-30 {
    height: 30px;
}

.content-block3 {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 200px;
}


.message-img-div {
    border-radius: 2.5%;
    max-height: 300px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.message-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%; 
}

.message-img2 {
    object-fit: contain;
    max-width: 75px;
    max-height: 50px; 
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.circle2 {
    width: 30vw;
    height: 30vh;
    object-fit: cover; 
    border-radius: 5px;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* .block-text {
    display: flex;
    justify-content: center;
} */

.chat-content p {
    font-size: 17px;
    padding: 15px;
}

.block-tittle {
    align-content: center;
    justify-content: center;
}


/* ###################### */

.portfolio-item {
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin-block: 2vh;
    border-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: start;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    color: #fff;
}

.pi-info {
    background: rgba(0, 0, 0, 0.4);
    padding-inline: 1.5vw;
    padding-block: 2vh;
    width: 100%;
    height: 40%;
    overflow: hidden;
    transition: width 1s, height 2s;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    transition: 0.5s;
    border-radius: 0 0 5px 5px;
}

.pi-title {
    font-size: 0.9em;
    margin-bottom: 1vh;
}

.pi-desc {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.7);
}


.addressage-python {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url(../img/addressage-python.png);
    background-size: cover;
}

.shifumi-js {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url(../img/shifumi-js.png);
    background-size: cover;
}

.disctrict-noir-python {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url(../img/district-noir-python.png);
    background-size: cover;
}

.popchill {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url(../img/popchill.png);
    background-size: cover;
}

.lcai {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url(../img/lcai.png);
    background-size: cover;
}

.chu-pinel {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url(../img/chu-pinel.png);
    background-size: cover;
}

.width-100 {
    padding: 2%;
    width: 100%;
}

.p-profil {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.percent50-height {
    height: 20%;
}

.aligne-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}


/* ############################################## */